
.navbar {
  z-index: 100; /* Garantir que a navbar fique acima de outros elementos */
  background-color: blue; /* Fundo vermelho transparente */
  left:0;
}

body {
  position: relative;
}

main {
  padding: 200px 0px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
  
}

h1, h2 {
  margin: 10px 100px;
}

p {
  width: 50%;
}

footer {
  margin: 20px;
  text-align: center;
}


.reset {
  padding: 15px;
}



/* Estilo de imagem principal */
#imagepizza1 {
  width: 50%;
  top: 0;
  right: 0;
  max-width: 1200px;
  height: auto;
  margin: 20px auto;
  position: absolute;
  z-index: 0;
  
}

#imagepizza2 {
  margin-left: 0;
  position: relative;
  width: 80%;
  max-width: 1200px;
  height: auto;
  top: 0;
  left: 0;
  z-index: 1; 
}

/* Responsividade para telas menores */
@media (max-width: 700px) {

  #imagepizza {
    width: 100%; /* Agora ocupa toda a largura, como a #imagepizza1 */
    max-width: 600px;
    height: auto; /* Mantém a proporção correta */
    margin: 0; /* Remove margens extras */
    padding: 0;
    
  
  }

  p {
    width: 100%; /* O texto também ocupa 100% da tela em dispositivos menores */
  }
  #imagepizza2 {
    width: 100%; /* Agora ocupa toda a largura, como a #imagepizza1 */
    max-width: 600px;
    height: auto; /* Mantém a proporção correta */
    margin: 0; /* Remove margens extras */
    padding: 0;
  
  }
  
}

 @media (max-width: 400px) {
  p {
    width: 50%; /* Ajuste para telas menores */
  }
}