{% extends "layout.html" %}

{% block title %}
Client order

{% endblock %}

{% block main %}
<h1 id="pedido">Seu pedido</h1>
{% if not partial %}
<form action="/client_order" method="post">
{% endif %}
<div id="border">
  <table class="table table-striped">
    <thead>
      <tr>
              <th class="text-start">Item</th>
              <th class="text-center">Preço</th>

     </tr>
</thead>
    {% for item in order %}
    <tbody>
      <tr>
        <td class="text-start"> {{ item[2] }} </td>
        <td class="text-end"> PREÇO: R${{ item[4] }}  <button  id="remove" name="remove" value="{{ item[1] }}" type="submit" onclick="remover('{{ item[1] }}')">Remover</button> </td> 
      </tr>  
     {% endfor %}
    </tbody>
   

  </table>
      {% if order%}
      <div class="total_pedido" id="finalizar">
        <strong>TOTAL</strong>: R${{ total }}<br>
        {% if not finalizacao %}
        <button  class="totalB" name="finalizar" value="finalizar" type="submit">Finalizar pedido</button>
        <button  class="totalB" name="cancel" value="cancel" type="submit"  onclick="cancelar_pedido()">Cancelar</button>
        {% endif %}
      </div>  
      {% endif %}
</div>
  {% if finalizacao %}
  <div id="finalizar_pedido">
    <h6 id="pedido">SEU PEDIDO ESTÁ SENDO PREPARADO!</h6>
      <p id="pedido">O pedido será entregue no endreço: <strong> Rua {{ adress.street }} número {{ adress.number }}, {{ adress.city }}, {{ adress.state }}, {{ adress.country }}! O pedido foi feito no horário: {{ horario_pedido }}!</strong><br>
        <button  class="totalB" name="confirm" value="confirm" type="submit" onclick="confirmado()">Confirmar entrega</button>
      </p>
  </div>
  {% endif %}
   {% if not partial %} 
  </form> 
  {% endif %}
<script>
  function confirmado() {
    window.alert("Obrigado por confirmar o seu pedido!")
  }




  async function cancelar_pedido() {
    window.alert("Pedido cancelado!")
    try { 
        let response = await fetch('/client_order', {
            method:'POST',
            headers: {'Content-type': 'application/json'}
            // body: JSON.stringify({ remove: order })
        })
        console.log(response)

        if (response.ok) {
        
            let result = await response.json()
            document.getElementById('border').innerHTML = result.html
        }
      }
        catch (error) {
          console.log("ERROR: ", error)
        }    
  }

  async function remover(item_id) {
    try { 
        let response = await fetch('/client_order', {
            method:'POST',
            headers: {'Content-type': 'application/json'},
            body: JSON.stringify({ remove: item_id })
        })
        console.log(response)

        if (response.ok) {
            let result = await response.json()
            if (result.redirect){
              window.alert("Não há mais itens no seu pedido!")
              window.location.href='/menu'
            }
            document.getElementById('finalizar').innerHTML = result.html
        }
      }
        catch (error) {
          console.log("ERROR: ", error)
        }    
  }

</script>


{% endblock %}