{% extends "layout.html" %}

{% block title %}
  HomePage
{% endblock %}  

{% block main %}
<main>
    <h1>Começando...</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam inventore provident itaque voluptates ratione perferendis, dolore praesentium suscipit quia quod doloremque, ex optio modi laborum architecto sunt a quam? Animi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolorum delectus odio sint perferendis recusandae pariatur. Quos sunt, recusandae rem consequuntur dolorem excepturi voluptatibus incidunt maxime provident, odit nesciunt animi.
      Suscipit reprehenderit quo ipsum facere est? Velit, dignissimos totam provident, vel temporibus sed, sunt dolore maxime nemo nam ad vero voluptas nulla officiis amet obcaecati molestiae. Magnam consequatur alias exercitationem!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, ratione! Consequatur laborum velit cum ratione blanditiis, maiores quae ad ipsam quia, error fugit alias quisquam ut praesentium, temporibus at. Error!
      Fuga minus vero cupiditate minima incidunt officia mollitia totam recusandae, culpa cumque officiis distinctio consectetur quas numquam, dignissimos adipisci animi, voluptas nulla. Reprehenderit deserunt odit necessitatibus illo modi incidunt omnis!
      Ea amet hic illo odio nesciunt, ratione quis molestiae recusandae voluptas corporis iusto porro aperiam assumenda, enim nemo debitis tempora magni dolor dolore quaerat, quam cupiditate soluta? Sed, voluptate asperiores.</p>
      <h2>Teste</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam inventore provident itaque voluptates ratione perferendis, dolore praesentium suscipit quia quod doloremque, ex optio modi laborum architecto sunt a quam? Animi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolorum delectus odio sint perferendis recusandae pariatur. Quos sunt, recusandae rem consequuntur dolorem excepturi voluptatibus incidunt maxime provident, odit nesciunt animi.
        Suscipit reprehenderit quo ipsum facere est? Velit, dignissimos totam provident, vel temporibus sed, sunt dolore maxime nemo nam ad vero voluptas nulla officiis amet obcaecati molestiae. Magnam consequatur alias exercitationem!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, ratione! Consequatur laborum velit cum ratione blanditiis, maiores quae ad ipsam quia, error fugit alias quisquam ut praesentium, temporibus at. Error!
        Fuga minus vero cupiditate minima incidunt officia mollitia totam recusandae, culpa cumque officiis distinctio consectetur quas numquam, dignissimos adipisci animi, voluptas nulla. Reprehenderit deserunt odit necessitatibus illo modi incidunt omnis!
        Ea amet hic illo odio nesciunt, ratione quis molestiae recusandae voluptas corporis iusto porro aperiam assumenda, enim nemo debitis tempora magni dolor dolore quaerat, quam cupiditate soluta? Sed, voluptate asperiores.</p>
        <h2>Teste</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam inventore provident itaque voluptates ratione perferendis, dolore praesentium suscipit quia quod doloremque, ex optio modi laborum architecto sunt a quam? Animi?Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore dolorum delectus odio sint perferendis recusandae pariatur. Quos sunt, recusandae rem consequuntur dolorem excepturi voluptatibus incidunt maxime provident, odit nesciunt animi.
        Suscipit reprehenderit quo ipsum facere est? Velit, dignissimos totam provident, vel temporibus sed, sunt dolore maxime nemo nam ad vero voluptas nulla officiis amet obcaecati molestiae. Magnam consequatur alias exercitationem!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, ratione! Consequatur laborum velit cum ratione blanditiis, maiores quae ad ipsam quia, error fugit alias quisquam ut praesentium, temporibus at. Error!
        Fuga minus vero cupiditate minima incidunt officia mollitia totam recusandae, culpa cumque officiis distinctio consectetur quas numquam, dignissimos adipisci animi, voluptas nulla. Reprehenderit deserunt odit necessitatibus illo modi incidunt omnis!
        Ea amet hic illo odio nesciunt, ratione quis molestiae recusandae voluptas corporis iusto porro aperiam assumenda, enim nemo debitis tempora magni dolor dolore quaerat, quam cupiditate soluta? Sed, voluptate asperiores.</p>  
 <div id="pizza">
    <img id="imagepizza1" src="../static/images/pizzaprincipal2.png" alt="pizza" srcset="">
 </div>
 <div id="pizza2">
    <img id="imagepizza2" src="/static/images/pizzaprincipal4.png" alt="pizza 4" srcset="">
 </div>   

</main>


{% endblock %}