{% extends "layout.html" %}

{% block title %}
  Menu
{% endblock %}  

{% block main %}
<h1 id="title_menu">Menu CS50 Pizza Restaurant</h1>
<h4 id="pizzas">Pizzas</h4>
<form action="/menu" method="post">
  <div id="menu_conatainer">
    <div class="menu_products">
      <div class="pizzas">
        <h6>Pizza de Calabresa</h6>
        <p>Ingredientes: Massa artesanal, molho de tomate, mozzarela, calabresa, cebola roxa e orégano.<br>
          <strong>Valor: R$50,00</strong></p>
          <button id="pizza" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
      </div>
      
      <div class="pizzas">
        <h6>Pizza de Calabresa</h6>
        <p>Ingredientes: Massa artesanal, molho de tomate, mozzarela, calabresa, cebola roxa e orégano.<br>
          <strong>Valor: R$50,00</strong></p>
          <button id="pizza" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
      </div>
      
      <div class="pizzas">
        <h6>Pizza de Calabresa</h6>
        <p>Ingredientes: Massa artesanal, molho de tomate, mozzarela, calabresa, cebola roxa e orégano.<br>
          <strong>Valor: R$50,00</strong></p>
          <button id="pizza" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
      </div>
      <div class="pizzas">
        <h6>Pizza de Calabresa</h6>
        <p>Ingredientes: Massa artesanal, molho de tomate, mozzarela, calabresa, cebola roxa e orégano.<br>
          <strong>Valor: R$50,00</strong></p>
          <button id="pizza" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
      </div>
      
      <div class="pizzas">
        <h6>Pizza de Calabresa</h6>
        <p>Ingredientes: Massa artesanal, molho de tomate, mozzarela, calabresa, cebola roxa e orégano.<br>
          <strong>Valor: R$50,00</strong></p>
          <button id="pizza" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
      </div>
      
      <div class="pizzas">
        <h6>Pizza de Calabresa</h6>
        <p>Ingredientes: Massa artesanal, molho de tomate, mozzarela, calabresa, cebola roxa e orégano.<br>
          <strong>Valor: R$50,00</strong></p>
          <button id="pizza" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
      </div>
      <div class="pizzas">
        <h6>Pizza de Calabresa</h6>
        <p>Ingredientes: Massa artesanal, molho de tomate, mozzarela, calabresa, cebola roxa e orégano.<br>
          <strong>Valor: R$50,00</strong></p>
          <button id="pizza" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
      </div>
      
      <div class="pizzas">
        <h6>Pizza de Calabresa</h6>
        <p>Ingredientes: Massa artesanal, molho de tomate, mozzarela, calabresa, cebola roxa e orégano.<br>
          <strong>Valor: R$50,00</strong></p>
          <button id="pizza" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
      </div>
      
      <div class="pizzas">
        <h6>Pizza de Calabresa</h6>
        <p>Ingredientes: Massa artesanal, molho de tomate, mozzarela, calabresa, cebola roxa e orégano.<br>
          <strong>Valor: R$50,00</strong></p>
          <button id="pizza" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
      </div>
      
    </div>
    <h4 id="sobremesas">Sobremesas</h4>
    <div id="menu_conatainer">
      <div class="menu_products">
        <div class="sobremesas">
          <h6>Chocolate</h6>
          <p>Chocolate belga 40% cacau<br>
            <strong>Valor: R$50,00</strong></p>
            <button id="dessert" onclick="addCarrinho(event)" >Adicionar ao carrinho</button>
        </div>
        <div class="sobremesas">
          <h6>Chocolate</h6>
          <p>Chocolate belga 40% cacau<br>
            <strong>Valor: R$50,00</strong></p>
            <button id="dessert" onclick="addCarrinho(event)" >Adicionar ao carrinho</button>
        </div>
        <div class="sobremesas">
          <h6>Chocolate</h6>
          <p>Chocolate belga 40% cacau<br>
            <strong>Valor: R$50,00</strong></p>
            <button id="dessert" onclick="addCarrinho(event)" >Adicionar ao carrinho</button>
        </div>
        <div class="sobremesas">
          <h6>Chocolate</h6>
          <p>Chocolate belga 40% cacau<br>
            <strong>Valor: R$50,00</strong></p>
            <button id="dessert" onclick="addCarrinho(event)" >Adicionar ao carrinho</button>
        </div>
  </div>
    </div>
    <h4 id="bebidas">Bebidas</h4>
    <div id="menu_conatainer">
      <div class="menu_products">
        <div class="bebidas">
          <h6>Refrigerante</h6>
          <p><strong>Valor: R$50,00</strong></p>
            <button id="drinks" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
        </div>
        <div class="bebidas">
          <h6>Refrigerante</h6>
          <p><strong>Valor: R$50,00</strong></p>
          <button id="drinks" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
        </div>
        <div class="bebidas">
          <h6>Refrigerante</h6>
          <p><strong>Valor: R$50,00</strong></p>
          <button id="drinks" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
        </div>
        <div class="bebidas">
          <h6>Refrigerante</h6>
          <p><strong>Valor: R$50,00</strong></p>
          <button id="drinks" onclick="addCarrinho(event)">Adicionar ao carrinho</button>
        </div>
        <div class="bebidas">
          <h6>Refrigerante</h6>
          <p><strong>Valor: R$50,00</strong></p>
          <button id="drinks" onclick="addCarrinho(event)" type="button">Adicionar ao carrinho</button>
        </div>
    </div>
    <div id="order"></div>
</form>
 
<script type=text/javascript>
  const isLogIn = {{ isLoggedIn | tojson | safe }}
  let total = 0
  function addCarrinho(event) {
      event.preventDefault()
    
      let pedido = document.getElementById('order')
      console.log("Pedido element:", pedido)
      let pizza = 50
      let dessert = 20
      let drink = 10
      
      if (!isLogIn) {
          window.alert("Você precisa estar logado para continuar")
      } else {
        window.alert("Adcionado item com sucesso!")
        if (event.target.id === 'drinks'){
          total += drink
        }        
        else if (event.target.id === 'dessert'){
          total += dessert
        } else {
          total += pizza
        }
        console.log("Total atualizado:", total)
        pedido.innerHTML = `<p>Total: R${total}.00   <button>Ver pedido</button></p>`
        
      }
  }
</script>
{% endblock %}

